.body_container {
    align-items: flex-start;
}

.blue {
    color: #588dac;
}

.planet_container {
    width: 35%;
    height: 800px;
    margin-left: 50px;
    margin-top: 50px;
    background: url('./assets/nasa-rTZW4f02zY8-unsplash.jpg') center/cover no-repeat;
    border: 2px solid white;
    overflow: hidden;
    position: relative;
}

.planet_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); /* Dégradé d'opacité */
    z-index: 1;
}

.planet_content {
    display: flex;
    flex-direction: column;
    margin: 30px 20px 0px 20px;
}
.planet_content h1 {
    color: white;
    font-size: 24px;
}

.planet_content h1,
.planet_list,
.planet_count,
.planet_content label {
    position: relative;
    z-index: 2;
}


#sort {
    background-color: black;
    color: white;
    padding: 5px 10px;
    margin-top: 20px;
}

.searchPlanets {
    margin: 20px 0px 0px 0px
}
#searchPlanets {
    padding: 10px 20px;
    width: 100%;
    border: 1px solid white;
    background-color: black;
    color: rgba(255, 255, 255, 0.342);
}

.planet_list {
    display: flex;
    flex-direction: column;
    gap:10px;
}
.planet {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 10px 0px;
    cursor: pointer;
}

.planet:hover {
    background-color: #588dac;
}

.planet_list p{
    font-size: 18px;
    color: white;
}

.planet_count {
    color: white;
    margin-top: 30px;
}

.show_infos_container {
    width: 48%;
    border: 2px solid white;
    margin-top: 50px;
    margin-left: 50px;
    padding: 30px 10px;
}

.show_infos_h1{
    color: #588dac;
}

.show_infos_planet_container {
    display: none;
}
.show_infos_planet {
    margin-left: 20px;
    
}

.show_infos_planet h1 {
    color: #588dac;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
}

.population  {
    color: white;
    font-size: 22px;
    margin-top: 30px;
}

.infos_planet_container {
    display: flex;
    gap: 300px;
    margin-top: 70px;
    
}

.infos_planet {
   display: flex;

}
.infos_planet_description {

}
.infos_planet_description h2 {
    color: #588dac;
    font-size: 22px;
}

.infos_planet_description p  {
    color: white;
    font-size: 22px;
}