html {
  font-family: 'Roboto', sans-serif;
}

.nav_bar{
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: black;
    color: white;
    height: 100px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.logo {
    width: 300px;
    margin-left: 20px;
}

.nav_a {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.nav_a:hover {
    color: #588dac;
}

.tab_type_container{
    background-color: black;
    width: 7%;
    height: 866px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 30px;
    border-top: 3px solid white;
    border-right: 2px solid white;
}

.link {
    text-decoration: none;
    cursor: pointer;
}

.tab_type {
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    width: 100%;
    padding: 10px 0px;
    gap: 5px;
}

.tab_type:hover {
    background-color:#588dac ;
}

.tab_logo {
    width: 50px;
    filter: invert(100%) sepia(7%) saturate(5455%) hue-rotate(290deg) brightness(112%) contrast(102%);    
}

.body_container {
    background-color: black;
    display: flex;
}

.main_content_container {
    width: 100%;
}

.discover_container {
    width: 95%;
    margin-left: 50px;
    margin-top: 50px;
    height: 200px;
    background: url('./assets/bryan-goff-RF4p4rTM-2s-unsplash.jpg') center/cover no-repeat;
    border: 2px solid white;
    position: relative;
}

.discover_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); /* Dégradé d'opacité */
    z-index: 1;
}


.discover_content{
    margin-left: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.button{
    background-color: black;
    color: white;
    border: 2px solid white;
    font-size: 16px;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.button:hover {
    background-color:#588dac;
    color: black;
}

.title {
    font-weight: bold;
    font-size: 24px;
    color: #588dac;
}

.description {
    color: white;
    font-size: 18px;
}

.mark {
    color: #588dac;
}



.number_container {
    width: 95%;
    margin-left: 50px;
    margin-top: 100px;
    height: 400px;
    background: url('./assets/nasa-rTZW4f02zY8-unsplash.jpg') center/cover no-repeat;
    border: 2px solid white;
    overflow: hidden;
    position: relative;
}


.number_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); /* Dégradé d'opacité */
    z-index: 1;
}

.number_content {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 30px;
    gap: 20px;
}

.number_infos_container {
    display: flex;
    gap: 100px;
    margin-top: 40px;
}

.infos_container {

}

.infos_content{
    display: flex;
    gap: 15px;
}

.infos_logo img{
    filter: invert(54%) sepia(50%) saturate(334%) hue-rotate(158deg) brightness(86%) contrast(95%);
    width: 50px;
}

.infos_description h2 {
    color: #588dac;
    font-size: 18px;
    margin-bottom: 5px;
}

.infos_description p {
    color:white;
}

.button_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    margin-right: 30px;
}

.number_container h1,
.number_container h2,
.number_container p,
.number_container button,
.number_container img,
.discover_container h1,
.discover_container h2,
.discover_container p,
.discover_container button {
    position: relative;
    z-index: 2;

}

